body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightpink;
    padding: 10px 30px;
    
    img{
        width:80px;
        height:40px;
        @media screen and (max-width: 576px) {
            width:90px;
            height: 45px;
        }
    }
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media screen and (max-width: 576px) {
            width:35px;
            height: 20px;
            background-color: red;
        }
        li{
            color: black;
            font-size:1.2em;
            margin: 0 10px; 
            }
            @media screen and (max-width: 576px) {
                display:none;
            }
        button{
            padding:10px 20px;
            border: 2px solid lightseagreen;
            color: black;
            border-radius: 25px;
            box-shadow: 10 0 0 grey;
            &:hover{
                box-shadow: 10 10 0 grey;
                background-color: lightseagreen;
            }
        }    
        }
        
    }
